@media screen and (max-width:500px) {
    footer{
        padding: 0.5rem !important;
        transition-duration: 500ms;
        
    }
    .container{
        justify-content: center !important;
        .right_menu{
            display: none;
        }
        
    }
    
}