.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%; /* Adatta la larghezza al contenitore padre */
    height: 100px; /* Altezza del carosello */
  }
  
  .carousel-track {
    display: flex;
    width: 200%; /* Due volte la larghezza per contenere le immagini duplicate */
    animation: marquee 20s linear infinite; /* Animazione continua */
  }
  
  .carousel-slide {
    display: flex;
    width: 50%; /* Ogni slide occupa metà della larghezza del carosello */
  }
  
  .carousel-image {
    width: 100px; /* Larghezza delle immagini */
    height: 100px; /* Altezza delle immagini */
    object-fit: contain; /* Mantieni la proporzione dell'immagine */
    padding: 0.3rem;
  }
  
  /* Definisce l'animazione dello scorrimento */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Sposta il carosello di una larghezza completa */
    }
  }
  
  /* Media Query per dispositivi mobili */
  @media (max-width: 1150px) {
    .carousel-wrapper {
      height: 70px; /* Riduci l'altezza per i dispositivi mobili */
    }
  
    .carousel-image {
      width: 80px; /* Riduci la larghezza delle immagini */
      height: 80px; /* Riduci l'altezza delle immagini */
      padding: 0.2rem; /* Riduci il padding */
    }
  } @media (max-width: 970px) {
    .carousel-wrapper {
      height: 80px; /* Riduci l'altezza per i dispositivi mobili */
    }
  
    .carousel-image {
      width: 70px; /* Riduci la larghezza delle immagini */
      height: 70px; /* Riduci l'altezza delle immagini */
      padding: 0.2rem; /* Riduci il padding */
    }
  }
  @media (max-width: 880px) {
    .carousel-wrapper {
      height: 80px; /* Riduci l'altezza per i dispositivi mobili */
    }
  
    .carousel-image {
      width: 50px; /* Riduci la larghezza delle immagini */
      height: 50px; /* Riduci l'altezza delle immagini */
      padding: 0.1rem; /* Riduci il padding */
    }
  }
  @media (max-width: 750px) {
    .carousel-wrapper {
      display: none;
  }
}