@media screen and (max-width:500px) {
    
    .left_menu{
        width: 60%;
        margin: auto;
        flex-direction: column;
        padding: 0 !important;
        >.link{
            width: 100%;
            text-align: center;
            padding: 8px !important;
            font-size: 0.9rem;
            background-color: gray;
        }
    }
}

